{% extends 'shared/layout.html' %}
{% load shared i18n %}
{% block head %}
  {% with page_title=_("Change password - Linkding") %}{{ block.super }}{% endwith %}
{% endblock %}
{% block content %}
  <main class="auth-page" aria-labelledby="main-heading">
    <div class="section-header">
      <h1 id="main-heading">{% trans "Change Password" %}</h1>
    </div>
    <form method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      <div class="form-group">
        {% trans "Old password" as old_pwd_label %}
        {% formlabel form.old_password old_pwd_label %}
        {% formfield form.old_password class='form-input' %}
        {{ form.old_password.errors }}
      </div>
      <div class="form-group">
        {% trans "New password" as new_pwd1_label %}
        {% formlabel form.new_password1 new_pwd1_label %}
        {% formfield form.new_password1 class='form-input' %}
        {{ form.new_password1.errors }}
      </div>
      <div class="form-group">
        {% trans "Confirm new password" as new_pwd2_label %}
        {% formlabel form.new_password2 new_pwd2_label %}
        {% formfield form.new_password2 class='form-input' %}
        {{ form.new_password2.errors }}
      </div>
      <input type="submit"
             value="{% trans 'Change Password' %}"
             class="btn btn-primary width-100 mt-4">
    </form>
  </main>
{% endblock %}
