{% load shared i18n %}
<turbo-frame id="tag-modal">
<form method="post"
      action="{% url 'linkding:tags.merge' %}"
      data-turbo-frame="_top"
      novalidate>
  {% csrf_token %}
  <ld-modal class="modal active"
            data-close-url="{% url 'linkding:tags.index' %}"
            data-turbo-frame="tag-modal">
    <div class="modal-overlay" data-close-modal></div>
    <div class="modal-container" role="dialog" aria-modal="true">
      {% trans "Merge Tags" as merge_tags_title %}
      {% include 'shared/modal_header.html' with title=merge_tags_title %}
      <div class="modal-body">
        <details class="mb-4">
          <summary>
            <span class="text-bold mb-1">{% trans "How to merge tags" %}</span>
          </summary>
          <ol>
            <li>{% trans "Enter the name of the tag you want to keep" %}</li>
            <li>{% trans "Enter the names of tags to merge into the target tag" %}</li>
            <li>{% trans "The target tag is added to all bookmarks that have any of the merge tags" %}</li>
            <li>{% trans "The merged tags are deleted" %}</li>
          </ol>
        </details>
        <div class="form-group">
          {% trans "Target tag" as target_tag_label %}
          {% formlabel form.target_tag target_tag_label %}
          {% formfield form.target_tag has_help=True %}
          {% formhelp form.target_tag %}
            {% blocktrans %}Enter the name of the tag you want to keep. The tags entered below will be merged into this one.{% endblocktrans %}
          {% endformhelp %}
          {{ form.target_tag.errors }}
        </div>
        <div class="form-group">
          {% trans "Tags to merge" as merge_tags_label %}
          {% formlabel form.merge_tags merge_tags_label %}
          {% formfield form.merge_tags has_help=True %}
          {% formhelp form.merge_tags %}
            {% blocktrans %}Enter the names of tags to merge into the target tag, separated by spaces. These tags will be deleted after merging.{% endblocktrans %}
          {% endformhelp %}
          {{ form.merge_tags.errors }}
        </div>
      </div>
      <div class="modal-footer modal-footer-stacked">
        <button type="submit" class="btn btn-primary btn-wide">{% trans "Merge Tags" %}</button>
        <button type="button" class="btn btn-wide" data-close-modal>{% trans "Cancel" %}</button>
      </div>
    </div>
  </ld-modal>
</form>
</turbo-frame>
